<h2>Home Page</h2>
<form method="post" action="/messages">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>
<br>
<br>

<% messages.each do |message| %>

  <li><%= message["message"] %>
    <a href="/messages/<%= message["id"]%>/edit">Edit</a>
    <a href="/messages/<%= message["id"]%>/comment">Comment</a>
    <form action="/messages/<%= message["id"]%>" method="post">
      <input type="hidden" name="_method" value="delete"/>
      <input type="submit" value="Delete"/>
    </form>

    <% comments_by_message_id[message["id"]].each do |comment| %>
      <% if comment["id"] == comment["id"]%>
      <li><%= comment["comment"]%></li>
    <% end %>
  <% end %>

  </li>

  <br>
  <br>

<% end %>





<!--messages.inspect-->
<%= comments_by_message_id.inspect %>
<br>
<br>

<%= comments_by_message_id["12"] %>
<br>
<br>

<%= comments_by_message_id["13"] %>


<!--comments.each do |comment|-->
<!--comment["comment"]-->
<!--end-->


 <!--comments.any? {|i| i["message_id"] == "12"}-->



<!--comments.group_by {|i| i["message_id"] == "12"}-->





